/* ==========================================
   DESKTOP LARGE (1024+)
========================================== */


/* ==========================================
   TABLET (768-1023)
========================================== */

@media (max-width:1023px) {

    nav {

        gap: 2rem;

    }

    nav ul {

        gap: 2rem;

    }

    .logo img {

        width: 68px;

    }

    .logo-title {

        font-size: 1.15rem;

    }

    nav ul li a {

        font-size: .95rem;

    }

}


/* ==========================================
   CARDS DISPOSICION
========================================== */
@media (max-width:969px) {

    .herramientas-secundarias {

        flex-direction: column;

    }

}

/* ==========================================
   MOBILE (<768)
========================================== */

@media (max-width:767px) {
    /*============
        HERO
    ============*/


    .hero-content {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100%;

        text-align: center;

        gap: 2rem;

    }

    .hero-top {

        left: 50%;
        transform: translateX(-50%);
        text-align: center;

    }

    .hero-bottom-text {

        left: 50%;
        right: auto;
        transform: translateX(-50%);
        text-align: center;

    }






    /*============
        HERO FIN
    ============*/



    nav {

        justify-content: space-between;

    }

    nav ul {

        display: none;

    }

    .logo img {

        width: 60px;

    }

    .logo-title {

        font-size: 1rem;

    }

    .story-chapter {
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .story-chapter:nth-child(even) {
        flex-direction: column;
    }

    .story-content {
        width: 100%;
    }

    .story-title {
        font-size: 2.0rem;
    }

    .story-text {
        font-size: 1rem;
        line-height: 1.5;
        
    }

    .story-image {
        width: 100%;
    }
}


/* ==========================================
   RESPONSIVE FOOTER
========================================== */

@media (max-width: 767px) {

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }

    .footer-links {
        width: 100%;
        align-items: center;
    }

    .ico-links {
        justify-content: center;
    }

}

/* ==========================================
   HEADER MOBILE
========================================== */

@media (max-width: 767px) {

    .menu-toggle {

        display: flex;

    }

    .nav-menu {

        display: none;

    }

    .nav-menu.active {

        display: flex;

        flex-direction: column;

        align-items: center;

        gap: 2rem;

        position: absolute;

        top: 100%;

        left: 0;

        width: 100%;

        padding: 2rem;

        background: var(--color-header);

        box-shadow: 0 10px 25px rgba(0, 0, 0, .2);

    }

        /* ==========================================
       ANIMACIÓN MENÚ HAMBURGUESA
    ========================================== */
    
        .menu-toggle.active span:nth-child(1) {
    
            transform: translateY(9px) rotate(45deg);
    
        }
    
        .menu-toggle.active span:nth-child(2) {
    
            opacity: 0;
    
        }
    
        .menu-toggle.active span:nth-child(3) {
    
            transform: translateY(-9px) rotate(-45deg);
    
        }

}
