/* ==========================================
   LA TAPERA DEV - DESIGN SYSTEM
   Variables globales del proyecto
========================================== */

:root {

    /* ======================================
       COLORES
    ====================================== */

    --color-background: #171717;
    --color-background-alt: #222222;

    --color-primary: #4F6F64;
    --color-primary-light: #7F9B90;

    --color-accent: #B88C5A;

    --color-text: #F3EEE7;
    --color-text-secondary: #BEB6A9;

    --color-border: rgba(255, 255, 255, .08);

    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-success: #4CAF50;
    --color-error: #D9534F;


    /* ======================================
       TIPOGRAFÍA
    ====================================== */

    --font-family: "Manrope", sans-serif;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;


    /* ======================================
       TAMAÑOS DE TEXTO
    ====================================== */

    --text-xs: .85rem;
    --text-sm: 1rem;
    --text-md: 1.2rem;
    --text-lg: 2rem;
    --text-xl: 3rem;
    --text-hero: 4.5rem;


    /* ======================================
       ESPACIADOS
    ====================================== */

    --space-1: .5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 3rem;
    --space-6: 5rem;
    --space-7: 7rem;
    --space-8: 10rem;


    /* ======================================
       BORDES
    ====================================== */

    --radius-small: 12px;
    --radius-medium: 18px;
    --radius-large: 24px;


    /* ======================================
       SOMBRAS
    ====================================== */

    --shadow-soft: 0 10px 30px rgba(0, 0, 0, .18);


    /* ======================================
       TRANSICIONES
    ====================================== */

    --transition: all .3s ease;


    /* ======================================
       LAYOUT
    ====================================== */

    --container-width: 1200px;

    --header-height: 80px;

}